[submodule "configserver"]
	path = configserver
	url = https://github.com/samaxwell/configserver.git
	branch = develop
[submodule "Blog-CRUD"]
	path = Blog-CRUD
	url = https://github.com/samaxwell/Blog-CRUD.git
	branch = develop
[submodule "configs"]
	path = configs
	url = https://github.com/samaxwell/configs.git
	branch = develop
[submodule "eureka"]
	path = eureka
	url = https://github.com/samaxwell/eureka.git
	branch = develop
[submodule "userservice"]
	path = userservice
	url = https://github.com/samaxwell/userservice.git
	branch = develop
[submodule "zuul"]
	path = zuul
	url = https://github.com/samaxwell/zuul.git
	branch = develop
[submodule "authservice"]
	path = authservice
	url = https://github.com/samaxwell/authservice.git
	branch = develop
